In [10]:
# importing dependencies
import csv
import numpy as np
import pandas as pd

In [26]:
# creating csv paths for debate night transcripts
debate1 = "Resources/debate_1_night_1.csv"
debate2 = "Resources/debate_1_night_2.csv"
debate3 = "Resources/debate_2_night_1.csv"
debate4 = "Resources/debate_2_night_2.csv"
debate5 = "Resources/debate_3_night_1.csv"
debate6 = "Resources/debate_4_night_1.csv"
candidates = "Resources/candidates.txt"
proctors = "Resources/proctors.txt"

In [20]:
# creating dataframe for debate 1
debate1_df = pd.read_csv(debate1,encoding="ISO-8859-1", low_memory=False)
debate1_df['debate_id'] = '1'
debate1_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,1,1,Holt,proctor,00:00:00,"Comment on every topic, but over the course of...",1
1,1,1,1,Guthrie,proctor,00:00:13,"All right, so with that business out of the wa...",1
2,2,1,1,Warren,candidate,00:00:20,Thank you. [crosstalk 00:00:21] to be here.,1
3,3,1,1,Guthrie,proctor,00:00:21,"You have many plans. Free college, free childc...",1
4,4,1,1,Guthrie,proctor,00:00:39,What do you say to those who worry this kind o...,1

In [21]:
# creating dataframe for debate 2
debate2_df = pd.read_csv(debate2,encoding="ISO-8859-1", low_memory=False)
debate2_df['debate_id'] = '2'
debate2_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,1,2,Guthrie,proctor,00:00,Senator Sanders. Good evening to you.,2
1,1,1,2,Guthrie,proctor,00:03,Youâve called for big new government benefit...,2
2,2,1,2,Sanders,candidate,00:24,"Okay. Well, youâre quite right. We have a ne...",2
3,3,1,2,Sanders,candidate,00:55,"Under that system, by the way, vast majority o...",2
4,4,1,2,Sanders,candidate,01:06,I believe that education is the future for thi...,2

In [22]:
# creating dataframe for debate 3
debate3_df = pd.read_csv(debate3,encoding="ISO-8859-1", low_memory=False)
debate3_df['debate_id'] = '3'
debate3_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,2,1,Tapper,proctor,00:03,Welcome back to the CNN Democratic Presidentia...,3
1,1,2,1,Tapper,proctor,00:17,You will each receive one minute to answer que...,3
2,2,2,1,Tapper,proctor,00:35,A candidate infringing on another candidateâ...,3
3,3,2,1,Bash,proctor,00:52,"Time now for opening statements, youâll each...",3
4,4,2,1,Bullock,candidate,00:58,Thanks Diana. I come from a state where a lot ...,3

In [23]:
# creating dataframe for debate 4
debate4_df = pd.read_csv(debate4,encoding="ISO-8859-1", low_memory=False)
debate4_df['debate_id'] = '4'
debate4_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,2,2,Tapper,proctor,00:00,Welcome back to the CNN Democratic presidentia...,4
1,1,2,2,Bash,proctor,00:48,Letâs start with opening statements. You wil...,4
2,2,2,2,de Blasio,candidate,00:56,"To the working people of America, tonight I br...",4
3,3,2,2,de Blasio,candidate,01:40,Kamala Harris said sheâs not trying to restr...,4
4,4,2,2,Bash,proctor,02:11,Thank you Mayor de Blasio. Senator Michael Ben...,4

In [24]:
# creating dataframe for debate 5
debate5_df = pd.read_csv(debate5,encoding="ISO-8859-1", low_memory=False)
debate5_df['debate_id'] = '5'
debate5_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,3,1,Stephanopoulos,proctor,00:00:00,The field has been narrowed. For one night onl...,5
1,1,3,1,Biden,candidate,00:00:11,I will be a president for every American.,5
2,2,3,1,Warren,candidate,00:00:14,This is our moment.,5
3,3,3,1,Sanders,candidate,00:00:16,We are in a struggle for the future of this co...,5
4,4,3,1,Harris,candidate,00:00:21,We fight for our country. Thatâs the nature ...,5

In [25]:
# creating dataframe for debate 6
debate6_df = pd.read_csv(debate6,encoding="ISO-8859-1", low_memory=False)
debate6_df['debate_id'] = '6'
debate6_df.head()

,statement_no,debate,night,speaker,speaker_type,timestamp,statement,debate_id
0,0,4,1,Cooper,proctor,00:00,"Itâs the CNN, New York Times Democratic pres...",6
1,1,4,1,Burnett,proctor,00:43,The top 12 democratic presidential candidates ...,6
2,2,4,1,Lacey,proctor,00:55,Before we begin a reminder of the ground rules...,6
3,3,4,1,Cooper,proctor,01:14,And we remind our audience here in the Rike Ce...,6
4,4,4,1,Warren,candidate,01:44,Because sometimes there are issues that are bi...,6

In [40]:
# creating dataframe for candidates 
candidates_df = pd.read_csv(candidates)
candidates_df['first name'] = 'insert first name'
candidates_df['race/ethnicity'] = 'white'
candidates_df['DOB'] = 'insert DOB'
candidates_df['gender'] = 'M'
candidates_df['current position'] = 'Senator'
candidates_df['location/origin'] = 'insert location/origin'
candidates_df

,Bennet,first name,race/ethnicity,DOB,gender,current position,location/origin
0,Biden,insert first name,white,insert DOB,M,Senator,insert location/origin
1,Booker,insert first name,white,insert DOB,M,Senator,insert location/origin
2,Bullock,insert first name,white,insert DOB,M,Senator,insert location/origin
3,Buttigieg,insert first name,white,insert DOB,M,Senator,insert location/origin
4,Castro,insert first name,white,insert DOB,M,Senator,insert location/origin
5,de Blasio,insert first name,white,insert DOB,M,Senator,insert location/origin
6,Delaney,insert first name,white,insert DOB,M,Senator,insert location/origin
7,Gabbard,insert first name,white,insert DOB,M,Senator,insert location/origin
8,Gillibrand,insert first name,white,insert DOB,M,Senator,insert location/origin
9,Gravel,insert first name,white,insert DOB,M,Senator,insert location/origin
10,Harris,insert first name,white,insert DOB,M,Senator,insert location/origin
11,Hickenlooper,insert first name,white,insert DOB,M,Senator,insert location/origin
12,Inslee,insert first name,white,insert DOB,M,Senator,insert location/origin
13,Klobuchar,insert first name,white,insert DOB,M,Senator,insert location/origin
14,Messam,insert first name,white,insert DOB,M,Senator,insert location/origin
15,Moulton,insert first name,white,insert DOB,M,Senator,insert location/origin
16,O'Rourke,insert first name,white,insert DOB,M,Senator,insert location/origin
17,Ryan,insert first name,white,insert DOB,M,Senator,insert location/origin
18,Sanders,insert first name,white,insert DOB,M,Senator,insert location/origin
19,Sestak,insert first name,white,insert DOB,M,Senator,insert location/origin
20,Steyer,insert first name,white,insert DOB,M,Senator,insert location/origin
21,Swalwell,insert first name,white,insert DOB,M,Senator,insert location/origin
22,Warren,insert first name,white,insert DOB,M,Senator,insert location/origin
23,Williamson,insert first name,white,insert DOB,M,Senator,insert location/origin
24,Yang,insert first name,white,insert DOB,M,Senator,insert location/origin

In [41]:
# inserting race/ethnicity data
candidates_df.iloc[1, candidates_df.columns.get_loc('race/ethnicity')] = 'Black/African-American'
candidates_df.iloc[4, candidates_df.columns.get_loc('race/ethnicity')] = 'Hispanic/Latinx'
candidates_df.iloc[7, candidates_df.columns.get_loc('race/ethnicity')] = 'TBD'
candidates_df.iloc[10, candidates_df.columns.get_loc('race/ethnicity')] = 'Multi-racial'
candidates_df.iloc[24, candidates_df.columns.get_loc('race/ethnicity')] = 'Asian'

candidates_df

,Bennet,first name,race/ethnicity,DOB,gender,current position,location/origin
0,Biden,insert first name,white,insert DOB,M,Senator,insert location/origin
1,Booker,insert first name,Black/African-American,insert DOB,M,Senator,insert location/origin
2,Bullock,insert first name,white,insert DOB,M,Senator,insert location/origin
3,Buttigieg,insert first name,white,insert DOB,M,Senator,insert location/origin
4,Castro,insert first name,Hispanic/Latinx,insert DOB,M,Senator,insert location/origin
5,de Blasio,insert first name,white,insert DOB,M,Senator,insert location/origin
6,Delaney,insert first name,white,insert DOB,M,Senator,insert location/origin
7,Gabbard,insert first name,TBD,insert DOB,M,Senator,insert location/origin
8,Gillibrand,insert first name,white,insert DOB,M,Senator,insert location/origin
9,Gravel,insert first name,white,insert DOB,M,Senator,insert location/origin
10,Harris,insert first name,Multi-racial,insert DOB,M,Senator,insert location/origin
11,Hickenlooper,insert first name,white,insert DOB,M,Senator,insert location/origin
12,Inslee,insert first name,white,insert DOB,M,Senator,insert location/origin
13,Klobuchar,insert first name,white,insert DOB,M,Senator,insert location/origin
14,Messam,insert first name,white,insert DOB,M,Senator,insert location/origin
15,Moulton,insert first name,white,insert DOB,M,Senator,insert location/origin
16,O'Rourke,insert first name,white,insert DOB,M,Senator,insert location/origin
17,Ryan,insert first name,white,insert DOB,M,Senator,insert location/origin
18,Sanders,insert first name,white,insert DOB,M,Senator,insert location/origin
19,Sestak,insert first name,white,insert DOB,M,Senator,insert location/origin
20,Steyer,insert first name,white,insert DOB,M,Senator,insert location/origin
21,Swalwell,insert first name,white,insert DOB,M,Senator,insert location/origin
22,Warren,insert first name,white,insert DOB,M,Senator,insert location/origin
23,Williamson,insert first name,white,insert DOB,M,Senator,insert location/origin
24,Yang,insert first name,Asian,insert DOB,M,Senator,insert location/origin

In [50]:
# inserting background data
candidates_df.iloc[0, candidates_df.columns.get_loc('current position')] = 'Former Vice President'
candidates_df.iloc[0, candidates_df.columns.get_loc('location/origin')] = 'Delaware'
candidates_df.iloc[1, candidates_df.columns.get_loc('location/origin')] = 'New Jersey'
candidates_df.iloc[2, candidates_df.columns.get_loc('current position')] = 'Governor'
candidates_df.iloc[2, candidates_df.columns.get_loc('location/origin')] = 'Montana'
candidates_df.iloc[3, candidates_df.columns.get_loc('current position')] = 'Mayor'
candidates_df.iloc[3, candidates_df.columns.get_loc('location/origin')] = 'South Bend, Indiana'
candidates_df.iloc[4, candidates_df.columns.get_loc('current position')] = 'Former Secretary of HUD'
candidates_df.iloc[4, candidates_df.columns.get_loc('location/origin')] = 'San Antonio, Texas'
candidates_df.iloc[5, candidates_df.columns.get_loc('current position')] = 'Mayor'
candidates_df.iloc[5, candidates_df.columns.get_loc('location/origin')] = 'New York City, New York'
candidates_df.iloc[6, candidates_df.columns.get_loc('current position')] = 'Former House Rep.'
candidates_df.iloc[6, candidates_df.columns.get_loc('location/origin')] = 'Maryland'
candidates_df.iloc[7, candidates_df.columns.get_loc('current position')] = 'House Rep.'
candidates_df.iloc[7, candidates_df.columns.get_loc('location/origin')] = 'Hawaii'
candidates_df.iloc[8, candidates_df.columns.get_loc('location/origin')] = 'New York'
candidates_df.iloc[9, candidates_df.columns.get_loc('current position')] = 'Former Senator'
candidates_df.iloc[9, candidates_df.columns.get_loc('location/origin')] = 'Alaska'
candidates_df.iloc[10, candidates_df.columns.get_loc('location/origin')] = 'California'
candidates_df.iloc[11, candidates_df.columns.get_loc('current position')] = 'Former Governor'
candidates_df.iloc[11, candidates_df.columns.get_loc('location/origin')] = 'Colorado'
candidates_df.iloc[12, candidates_df.columns.get_loc('current position')] = 'Governor'
candidates_df.iloc[12, candidates_df.columns.get_loc('location/origin')] = 'Washington'
candidates_df.iloc[13, candidates_df.columns.get_loc('location/origin')] = 'Minnesota'
candidates_df.iloc[14, candidates_df.columns.get_loc('current position')] = 'Mayor'
candidates_df.iloc[14, candidates_df.columns.get_loc('location/origin')] = 'Mirimar, Florida'
candidates_df.iloc[15, candidates_df.columns.get_loc('current position')] = 'House Rep.'
candidates_df.iloc[15, candidates_df.columns.get_loc('location/origin')] = 'Massachusetts'
candidates_df.iloc[16, candidates_df.columns.get_loc('current position')] = 'Former House Rep.'
candidates_df.iloc[2, candidates_df.columns.get_loc('current position')] = 'Governor'
candidates_df

,Bennet,first name,race/ethnicity,DOB,gender,current position,location/origin
0,Biden,insert first name,white,insert DOB,M,Former Vice President,Delaware
1,Booker,insert first name,Black/African-American,insert DOB,M,Senator,New Jersey
2,Bullock,insert first name,white,insert DOB,M,Governor,Montana
3,Buttigieg,insert first name,white,insert DOB,M,Mayor,"South Bend, Indiana"
4,Castro,insert first name,Hispanic/Latinx,insert DOB,M,Former Secretary of HUD,"San Antonio, Texas"
5,de Blasio,insert first name,white,insert DOB,M,Mayor,"New York City, New York"
6,Delaney,insert first name,white,insert DOB,M,Former House Rep.,Maryland
7,Gabbard,insert first name,TBD,insert DOB,M,House Rep.,Hawaii
8,Gillibrand,insert first name,white,insert DOB,M,Senator,New York
9,Gravel,insert first name,white,insert DOB,M,Former Senator,Alaska
10,Harris,insert first name,Multi-racial,insert DOB,M,Senator,California
11,Hickenlooper,insert first name,white,insert DOB,M,Former Governor,Colorado
12,Inslee,insert first name,white,insert DOB,M,Governor,Washington
13,Klobuchar,insert first name,white,insert DOB,M,Senator,Minnesota
14,Messam,insert first name,white,insert DOB,M,Mayor,"Mirimar, Florida"
15,Moulton,insert first name,white,insert DOB,M,House Rep.,Massachusetts
16,O'Rourke,insert first name,white,insert DOB,M,Senator,insert location/origin
17,Ryan,insert first name,white,insert DOB,M,Senator,insert location/origin
18,Sanders,insert first name,white,insert DOB,M,Senator,insert location/origin
19,Sestak,insert first name,white,insert DOB,M,Senator,insert location/origin
20,Steyer,insert first name,white,insert DOB,M,Senator,insert location/origin
21,Swalwell,insert first name,white,insert DOB,M,Senator,insert location/origin
22,Warren,insert first name,white,insert DOB,M,Senator,insert location/origin
23,Williamson,insert first name,white,insert DOB,M,Senator,insert location/origin
24,Yang,insert first name,Asian,insert DOB,M,Senator,insert location/origin

In [1]:
import json

In [8]:
# json for candidate profiles
with open("Resources/candidates.txt", 'r') as f:
    names = f.read()

name_list = names.split('\n')

cand_profile_list=[]

for last_name in name_list:

    cand_profile = {
        "first_name": "",
        "last_name":last_name,
        "position":"",
        "dob":"",
        "location/origin":"",
        "gender":"M",
        "race/ethnicity":"White"
    }
    
    cand_profile_list.append(cand_profile)

with open("Resources/candidate_profiles.json", 'w') as f:
    json.dump(cand_profile_list, f, indent=2)

In [11]:
# json for proctor profiles
with open("Resources/proctors.txt", 'r') as f:
    names = f.read()

name_list = names.split('\n')

proc_profile_list=[]

for last_name in name_list:

    proc_profile = {
        "first_name": "",
        "last_name": last_name,
        "gender":"M",
        "news_organization":"",
    }
    
    proc_profile_list.append(proc_profile)


with open("Resources/proctor_profiles.json", 'w') as f:
    json.dump(proc_profile_list, f, indent=2)

In [10]:
name_list

['Mitchell',
 'Parker',
 'Maddow',
 'Ramos',
 'Holt',
 'Burnett',
 'Guthrie',
 'Todd',
 'Cooper',
 'Welker',
 'Bash',
 'Davis',
 'Diaz-Balart',
 'Lemon',
 'Muir',
 'Stephanopoulos',
 'Tapper',
 'Lacey',
 '']

[
  {
    "first_name": "Michael",
    "last_name": "Bennet",
    "position": "Senator",
    "dob": "1964-11-28",
    "location/origin": "Colorado",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Joe",
    "last_name": "Biden",
    "position": "Former Vice President",
    "dob": "1942-11-20",
    "location/origin": "Delaware",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Cory",
    "last_name": "Booker",
    "position": "Senator",
    "dob": "1969-04-27",
    "location/origin": "New Jersey",
    "gender": "M",
    "race/ethnicity": "Black/African-American"
  },
  {
    "first_name": "Steve",
    "last_name": "Bullock",
    "position": "Governor",
    "dob": "1966-04-11",
    "location/origin": "Montana",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Pete",
    "last_name": "Buttigieg",
    "position": "Mayor",
    "dob": "1982-01-19",
    "location/origin": "South Bend, Indiana",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Julian",
    "last_name": "Castro",
    "position": "Former Secretary of HUD (Housing and Urban Development)",
    "dob": "1974-09-16",
    "location/origin": "San Antonio, Texas",
    "gender": "M",
    "race/ethnicity": "Hispanic/Latinx"
  },
  {
    "first_name": "Bill",
    "last_name": "de Blasio",
    "position": "Mayor",
    "dob": "05-08-1961",
    "location/origin": "New York City, New York",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "John",
    "last_name": "Delaney",
    "position": "Former House Rep.",
    "dob": "04-16-1963",
    "location/origin": "Maryland",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Tulsi",
    "last_name": "Gabbard",
    "position": "House Rep.",
    "dob": "1981-04-12",
    "location/origin": "Hawaii",
    "gender": "F",
    "race/ethnicity": "Pacific Islander"
  },
  {
    "first_name": "Kirsten",
    "last_name": "Gillibrand",
    "position": "Senator",
    "dob": "1966-12-09",
    "location/origin": "New York",
    "gender": "F",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Mike",
    "last_name": "Gravel",
    "position": "Former Senator",
    "dob": "1930-05-13",
    "location/origin": "Alaska",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Kamala",
    "last_name": "Harris",
    "position": "Senator",
    "dob": "1964-10-20",
    "location/origin": "California",
    "gender": "F",
    "race/ethnicity": "Multi-racial"
  },
  {
    "first_name": "John",
    "last_name": "Hickenlooper",
    "position": "Former Governor",
    "dob": "1952-02-07",
    "location/origin": "Colorado",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Jay",
    "last_name": "Inslee",
    "position": "Governor",
    "dob": "1951-02-09",
    "location/origin": "Washington",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Amy",
    "last_name": "Klobuchar",
    "position": "Senator",
    "dob": "1960-05-25",
    "location/origin": "Minnesota",
    "gender": "F",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Wayne",
    "last_name": "Messam",
    "position": "Mayor",
    "dob": "1974-06-07",
    "location/origin": "Miramar, Florida",
    "gender": "M",
    "race/ethnicity": "Black/African-American"
  },
  {
    "first_name": "Seth",
    "last_name": "Moulton",
    "position": "House Rep.",
    "dob": "1978-10-24",
    "location/origin": "Massachusetts",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Beto",
    "last_name": "O'Rourke",
    "position": "Former House Rep.",
    "dob": "1972-09-26",
    "location/origin": "Texas",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Tim",
    "last_name": "Ryan",
    "position": "House Rep.",
    "dob": "1973-07-16",
    "location/origin": "Ohio",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Bernie",
    "last_name": "Sanders",
    "position": "Senator",
    "dob": "1941-09-08",
    "location/origin": "Vermont",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Joe",
    "last_name": "Sestak",
    "position": "Former House Rep.",
    "dob": "1951-12-12",
    "location/origin": "Pennsylvania",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Tom",
    "last_name": "Steyer",
    "position": "Businessperson",
    "dob": "1957-06-27",
    "location/origin": "New York",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Eric",
    "last_name": "Swalwell",
    "position": "House Rep.",
    "dob": "1980-11-16",
    "location/origin": "California",
    "gender": "M",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Elizabeth",
    "last_name": "Warren",
    "position": "Senator",
    "dob": "1949-06-22",
    "location/origin": "Massachusetts",
    "gender": "F",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Marianne",
    "last_name": "Williamson",
    "position": "Author",
    "dob": "1952-07-08",
    "location/origin": "Texas",
    "gender": "F",
    "race/ethnicity": "White"
  },
  {
    "first_name": "Andrew",
    "last_name": "Yang",
    "position": "Businessperson",
    "dob": "1975-01-13",
    "location/origin": "New York",
    "gender": "M",
    "race/ethnicity": "Asian"
  }
]

In [28]:
# creating dataframe for proctors 
proctors_df = pd.read_csv(proctors)
proctors_df['race/ethnicity'] = 'insert race/ethnicity'
proctors_df['DOB'] = 'insert DOB'
proctors_df['gender'] = 'insert gender'
proctors_df['news outlet'] = 'insert news outlet'
proctors_df

,Mitchell,race/ethnicity,DOB,gender,news outlet
0,Parker,insert race/ethnicity,insert DOB,insert gender,insert news outlet
1,Maddow,insert race/ethnicity,insert DOB,insert gender,insert news outlet
2,Ramos,insert race/ethnicity,insert DOB,insert gender,insert news outlet
3,Holt,insert race/ethnicity,insert DOB,insert gender,insert news outlet
4,Burnett,insert race/ethnicity,insert DOB,insert gender,insert news outlet
5,Guthrie,insert race/ethnicity,insert DOB,insert gender,insert news outlet
6,Todd,insert race/ethnicity,insert DOB,insert gender,insert news outlet
7,Cooper,insert race/ethnicity,insert DOB,insert gender,insert news outlet
8,Welker,insert race/ethnicity,insert DOB,insert gender,insert news outlet
9,Bash,insert race/ethnicity,insert DOB,insert gender,insert news outlet
10,Davis,insert race/ethnicity,insert DOB,insert gender,insert news outlet
11,Diaz-Balart,insert race/ethnicity,insert DOB,insert gender,insert news outlet
12,Lemon,insert race/ethnicity,insert DOB,insert gender,insert news outlet
13,Muir,insert race/ethnicity,insert DOB,insert gender,insert news outlet
14,Stephanopoulos,insert race/ethnicity,insert DOB,insert gender,insert news outlet
15,Tapper,insert race/ethnicity,insert DOB,insert gender,insert news outlet
16,Lacey,insert race/ethnicity,insert DOB,insert gender,insert news outlet